In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_pickle('data/df_kategorik.pkl')
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,year,month,day,local,burak,days_in_waiting_list_range
0,1,0,342,2015,July,27,1,0,0,2,...,0,0,Check-Out,2015-07-01,2015,7,01,1,0,0
1,1,0,737,2015,July,27,1,0,0,2,...,0,0,Check-Out,2015-07-01,2015,7,01,1,0,0
2,1,0,7,2015,July,27,1,0,1,1,...,0,0,Check-Out,2015-07-02,2015,7,02,0,0,0
3,1,0,13,2015,July,27,1,0,1,1,...,0,0,Check-Out,2015-07-02,2015,7,02,0,0,0
4,1,0,14,2015,July,27,1,0,2,2,...,0,1,Check-Out,2015-07-03,2015,7,03,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,0,0,23,2017,August,35,30,2,5,2,...,0,0,Check-Out,2017-09-06,2017,9,06,0,0,0
119386,0,0,102,2017,August,35,31,2,5,3,...,0,2,Check-Out,2017-09-07,2017,9,07,0,0,0
119387,0,0,34,2017,August,35,31,2,5,2,...,0,4,Check-Out,2017-09-07,2017,9,07,0,0,0
119388,0,0,109,2017,August,35,31,2,5,2,...,0,0,Check-Out,2017-09-07,2017,9,07,0,0,0
119389,0,0,205,2017,August,35,29,2,7,2,...,0,2,Check-Out,2017-09-07,2017,9,07,0,0,0